#titulo {
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 10px;
  background-color: antiquewhite;
}
div.contenedor {
  display: flex;
  height: 100vh;
}
div.area-input {
  background-color: lightblue;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.area-output {
  width: 50%;
  height: 100%;
  background-image: url(fondo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: grey;
  margin-bottom: 30px;
  margin-top: -20px;
  background-color: antiquewhite;
  border-color: antiquewhite;
  border-radius: 10%;
  padding: 5px;
}
.input {
  background-color: aquamarine;
  border-radius: 5px;
  font-size: medium;
  border-color: aqua;
}
.input:active {
  border-color: azure;
  background-color: blanchedalmond;
}
.input:hover {
  border-color: azure;
  background-color: blanchedalmond;
}
.resultado {
  background-color: aqua;
  border-radius: 5px;
  padding: 10px;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.reset,
.enviar,
.copiar,
.desencriptar {
  background-color: rgb(187, 219, 219);
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}
